#forum .description {
	FONT-SIZE: 0.9em; MARGIN: 0.5em
}
#forum TD.created {
	WHITE-SPACE: nowrap
}
#forum TD.posts {
	WHITE-SPACE: nowrap
}
#forum TD.topics {
	WHITE-SPACE: nowrap
}
#forum TD.last-reply {
	WHITE-SPACE: nowrap
}
#forum TD.replies {
	WHITE-SPACE: nowrap
}
#forum TD.pager {
	WHITE-SPACE: nowrap
}
#forum TD.posts {
	TEXT-ALIGN: center
}
#forum TD.topics {
	TEXT-ALIGN: center
}
#forum TD.replies {
	TEXT-ALIGN: center
}
#forum TD.pager {
	TEXT-ALIGN: center
}
#forum TR TD.forum {
	BACKGROUND-POSITION: 2px 2px; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(../../misc/forum-default.png); BACKGROUND-REPEAT: no-repeat
}
#forum TR.new-topics TD.forum {
	BACKGROUND-IMAGE: url(../../misc/forum-new.png)
}
#forum DIV.indent {
	MARGIN-LEFT: 20px
}
.forum-topic-navigation {
	PADDING-RIGHT: 0.5em; BORDER-TOP: #888 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #888 1px solid; TEXT-ALIGN: center
}
.forum-topic-navigation .topic-previous {
	FLOAT: left; WIDTH: 46%; TEXT-ALIGN: right
}
.forum-topic-navigation .topic-next {
	FLOAT: right; WIDTH: 46%; TEXT-ALIGN: left
}
