SPAN.geshifilter {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.geshifilter {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 0.5em; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 1.3; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f8f8f8
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; PADDING-TOP: 0px
}
UNKNOWN {
	PADDING-LEFT: 1em
}
.geshifilter OL {
	MARGIN: 0px; LINE-HEIGHT: 1.3
}
