#google-cse-searchbox-form DIV {
	DISPLAY: inline; MARGIN: 0px
}
#google-cse-searchbox-form INPUT {
	DISPLAY: inline; MARGIN: 0px
}
#google-cse-results-searchbox-form DIV {
	DISPLAY: inline; MARGIN: 0px
}
#google-cse-results-searchbox-form INPUT {
	DISPLAY: inline; MARGIN: 0px
}
#google-cse-searchbox-form .form-radios DIV {
	DISPLAY: block
}
#google-cse-results-searchbox-form .form-radios DIV {
	DISPLAY: block
}
#google-cse-results-gadget A {
	MARGIN-LEFT: 2em
}
