#mainheader {
	Z-INDEX: 50; BACKGROUND-IMAGE: url(./colors/blue/mainheader.png)
}
UL.links#navlist LI.first {
	BACKGROUND-IMAGE: url(./colors/blue/navlistLiFirst.png)
}
A {
	COLOR: #369
}
UL.primary LI A {
	FONT-SIZE: 8pt; COLOR: white; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #69c
}
UL.primary LI A:hover {
	BACKGROUND-COLOR: #9bd
}
UL.primary LI A.active {
	COLOR: #369; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: white
}
#friends .friend {
	BORDER-RIGHT: #369 thin solid; BORDER-TOP: #369 thin solid; BORDER-LEFT: #369 thin solid; BORDER-BOTTOM: #369 thin solid; BACKGROUND-COLOR: #eee
}
#profile #name {
	COLOR: #555555; BACKGROUND-COLOR: #d7e0ef
}
#profile .section_header {
	BORDER-TOP: #98b5e5 thin solid; COLOR: #555555; BACKGROUND-COLOR: #d7e0ef
}
#dashboard .section {
	BORDER-RIGHT: #369 thin solid; BORDER-TOP: #369 thin solid; BORDER-LEFT: #369 thin solid; BORDER-BOTTOM: #369 thin solid; BACKGROUND-COLOR: #eee
}
#dashboard .section_header {
	COLOR: white; BACKGROUND-COLOR: #69c
}
#community #name {
	COLOR: #555555; BACKGROUND-COLOR: #d7e0ef
}
#community .section_header {
	BORDER-TOP: #98b5e5 thin solid; COLOR: #555555; BORDER-BOTTOM: #98b5e5 thin solid; BACKGROUND-COLOR: #d7e0ef
}
#community .operation {
	BORDER-BOTTOM: #98b5e5 thin solid
}
HTML {
	BACKGROUND-IMAGE: url(./bk.png); FONT: 10pt Verdana, Arial, Helvetica, sans-serif; WIDTH: 100%; COLOR: black; BACKGROUND-REPEAT: repeat-y; HEIGHT: 100%; BACKGROUND-COLOR: white; TEXT-ALIGN: left; min-width: 700px
}
BODY {
	BACKGROUND-IMAGE: url(./bk.png); FONT: 10pt Verdana, Arial, Helvetica, sans-serif; WIDTH: 100%; COLOR: black; BACKGROUND-REPEAT: repeat-y; HEIGHT: 100%; BACKGROUND-COLOR: white; TEXT-ALIGN: left; min-width: 700px
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	FONT-SIZE: 1em
}
TBODY {
	BORDER-TOP-WIDTH: 0px
}
TR.odd TD {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
TR.even TD {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
H1 {
	MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 3px; PADDING-TOP: 1em
}
H2 {
	MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 3px; PADDING-TOP: 1em
}
H3 {
	MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 3px; PADDING-TOP: 1em
}
H4 {
	MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 3px; PADDING-TOP: 1em
}
H5 {
	MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 3px; PADDING-TOP: 1em
}
H6 {
	MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 3px; PADDING-TOP: 1em
}
H1 {
	FONT-SIZE: 18pt
}
H2 {
	FONT-SIZE: 14pt; BORDER-BOTTOM: #ccc 1px solid
}
H3 {
	FONT-SIZE: 115%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 110%
}
H6 {
	FONT-SIZE: 110%
}
P {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 1em
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
FIELDSET {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
PRE {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 1.5em; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 1.5em; FONT-SIZE: 10pt; PADDING-BOTTOM: 0.75em; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 0.75em; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #eee
}
.clear {
	CLEAR: both; LINE-HEIGHT: 0px; HEIGHT: 0px
}
.form-text {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.1em; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0.1em; VERTICAL-ALIGN: middle; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #666 1px solid
}
.form-submit {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.1em; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0.1em; VERTICAL-ALIGN: middle; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #666 1px solid
}
#mainheader {
	BACKGROUND-POSITION: 50% bottom; LEFT: 0px; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; POSITION: absolute; TOP: 0px; HEIGHT: 100px; BACKGROUND-COLOR: white
}
#mainheader A {
	COLOR: #222
}
#logo {
	FLOAT: left; VERTICAL-ALIGN: middle; OVERFLOW: hidden; HEIGHT: 100px
}
#logo IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; max-width: 100px; max-height: 100px
}
.site-name {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 2.8em; PADDING-BOTTOM: 0px; MARGIN: 0.6em 0px 0px; PADDING-TOP: 0px
}
#site-name-frame {
	LEFT: 0px; OVERFLOW: hidden; WIDTH: 100%; POSITION: absolute; TOP: 0px
}
H1.site-name {
	PADDING-LEFT: 110px; OVERFLOW: hidden; WIDTH: 100%; WHITE-SPACE: nowrap
}
.site-name A:hover {
	TEXT-DECORATION: none
}
#user-info {
	FONT-SIZE: 8pt; RIGHT: 0.5em; WIDTH: 100%; POSITION: absolute; TOP: 0.5em; TEXT-ALIGN: right
}
#user-info UL {
	LIST-STYLE-TYPE: none
}
#user-info LI {
	DISPLAY: inline; MARGIN: 0px 0.5em
}
#user-info A {
	FONT-SIZE: 1em; TEXT-DECORATION: none
}
#search {
	MARGIN-TOP: 70px; MARGIN-BOTTOM: 15px; TEXT-ALIGN: right
}
#search-theme-form {
	DISPLAY: inline
}
#search-theme-form DIV {
	DISPLAY: inline
}
#search-theme-form #edit-submit {
	VERTICAL-ALIGN: middle; WIDTH: 13px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 13px; BORDER-BOTTOM-STYLE: none
}
#edit-search-theme-form-keys {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px; HEIGHT: 1em
}
#search-theme-form .form-submit {
	VERTICAL-ALIGN: middle
}
#search-theme-form .form-text {
	BORDER-RIGHT: #aad 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #aad 1px solid; PADDING-LEFT: 0.5em; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #aad 1px solid; WIDTH: 9em; PADDING-TOP: 0px; BORDER-BOTTOM: #aad 1px solid; HEIGHT: 1.4em
}
#navbar-space {
	HEIGHT: 100px
}
#navlist-frame {
	MARGIN-TOP: -28px; FLOAT: right; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 28px; min-width: 600px
}
#navlist {
	FONT-SIZE: 1em; FLOAT: right; HEIGHT: 28px
}
UL.links#navlist LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(./navlistLi.png); PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px
}
#mainheader UL.links LI A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BORDER-LEFT: #666 1px solid
}
#mainheader UL.links LI.first A {
	PADDING-LEFT: 35px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#sidebar-left {
	MIN-HEIGHT: 100%; FLOAT: left; WIDTH: 170px; HEIGHT: 100%
}
#sidebar-left-inner {
	MARGIN-TOP: 100px; PADDING-BOTTOM: 130px
}
#sidebar-left .content {
	PADDING-TOP: 0px; HEIGHT: 100%
}
#sidebar-left UL.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px
}
#sidebar-left UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#sidebar-left .menu LI {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; LIST-STYLE-IMAGE: none; MARGIN: 0px; PADDING-TOP: 15px; LIST-STYLE-TYPE: none
}
#sidebar-left .menu LI LI {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; LIST-STYLE-IMAGE: url(./listStyleImage.gif); PADDING-BOTTOM: 2px; MARGIN-LEFT: 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
#sidebar-left .menu LI A {
	COLOR: #222
}
#sidebar-left H2.title {
	DISPLAY: none
}
#sidebar-left UL UL {
	MARGIN-TOP: 5px
}
#footer {
	FONT-SIZE: 7pt; LEFT: 0px; MARGIN: 0px 0px 10px 10px; WIDTH: 160px; BOTTOM: 0px; POSITION: absolute; TEXT-ALIGN: justify
}
#footer-frame {
	POSITION: relative; HEIGHT: auto
}
#footer A {
	COLOR: #666
}
#content-min-height {
	FLOAT: left; WIDTH: 0px; HEIGHT: 600px
}
#breadcrumbs {
	FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 1em
}
.node .taxonomy {
	DISPLAY: block; PADDING-LEFT: 1.5em; FONT-SIZE: 0.8em; COLOR: #999999
}
.node .taxonomy UL.links LI.first {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.node .taxonomy UL.links LI {
	BORDER-LEFT: #eee 1px solid
}
#mainbox {
	MIN-HEIGHT: 100%; MARGIN: 0px auto; WIDTH: 100%; POSITION: relative; HEIGHT: 100%; TEXT-ALIGN: left
}
.form-text {
	BORDER-RIGHT: #aad 1px solid; BORDER-TOP: #aad 1px solid; BORDER-LEFT: #aad 1px solid; BORDER-BOTTOM: #aad 1px solid
}
.form-textarea {
	BORDER-RIGHT: #aad 1px solid; BORDER-TOP: #aad 1px solid; BORDER-LEFT: #aad 1px solid; BORDER-BOTTOM: #aad 1px solid
}
.form-item LABEL {
	MARGIN-TOP: 25px; MARGIN-BOTTOM: 5px
}
H1.title {
	MARGIN-TOP: 0em; FONT-SIZE: 18pt; PADDING-TOP: 0.2em
}
H2.title {
	FONT-SIZE: 14pt
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; MARGIN: 0pt auto
}
.title A {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; MARGIN: 0pt auto
}
.sticky {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #eee
}
.node .taxonomy {
	PADDING-LEFT: 1.5em; COLOR: #999
}
.node .picture {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; FLOAT: right; MARGIN: 0.5em; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.node .submitted {
	COLOR: #666
}
.node .taxonomy {
	FONT-SIZE: 0.8em
}
.node .submitted {
	FONT-SIZE: 0.8em
}
#sidebar-middle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; MIN-HEIGHT: 100%; PADDING-BOTTOM: 0px; MARGIN-LEFT: 170px; PADDING-TOP: 0px; HEIGHT: auto! important; BACKGROUND-COLOR: white
}
#main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 100%; PADDING-TOP: 110px; BACKGROUND-COLOR: white
}
UL {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 2.5em
}
OL {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 2.5em
}
#main .tabs UL {
	MARGIN: 10px 0px 0px
}
#navigation .tabs .ul {
	MARGIN: 10px 0px 0px
}
.section-edit {
	PADDING-RIGHT: 0.5em; MARGIN-TOP: 2.5em
}
A.section-edit {
	FONT-SIZE: 8pt
}
.indented {
	MARGIN-LEFT: 25px
}
.comment {
	CLEAR: both; BORDER-RIGHT: #abc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #abc 1px solid; PADDING-LEFT: 0.5em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #abc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #abc 1px solid
}
.comment .title A {
	FONT-WEIGHT: normal; FONT-SIZE: 1.1em
}
.comment .new {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FLOAT: right; COLOR: red; TEXT-ALIGN: right
}
.comment .links {
	MARGIN-BOTTOM: 0px
}
.comment .picture {
	BORDER-RIGHT: #abc 1px solid; BORDER-TOP: #abc 1px solid; FLOAT: right; MARGIN: 0.5em; BORDER-LEFT: #abc 1px solid; BORDER-BOTTOM: #abc 1px solid
}
#profile {
	MARGIN-TOP: 10px; WIDTH: 610px
}
#profile #colleft {
	FLOAT: left; WIDTH: 200px; MARGIN-RIGHT: 10px
}
#profile #colright {
	FLOAT: left; WIDTH: 400px
}
#profile #name {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bolder; FONT-SIZE: 200%; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#profile #picture {
	WIDTH: 200px
}
#profile .profile_edit_link {
	FONT-SIZE: 10pt; FLOAT: right
}
#profile .section_header {
	PADDING-RIGHT: 3px; MARGIN-TOP: 10px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#profile .section {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#profile .infotext {
	FLOAT: left; MARGIN-BOTTOM: 2px; WIDTH: 130px
}
#profile .infodata {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 140px; WIDTH: 254px
}
#profile .operation {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; WIDTH: 200px; BORDER-BOTTOM: #98b5e5 thin solid
}
#profile .friendrow {
	FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 400px
}
#profile .friend {
	MIN-HEIGHT: 100px; FLOAT: left; WIDTH: 133px
}
#profile .friend .icon {
	MARGIN: 5px 5px -2px; TEXT-ALIGN: center
}
#profile .friend .name {
	TEXT-ALIGN: center
}
#profile_setting .form-item LABEL {
	FLOAT: left; min-width: 150px
}
#profile_setting .fieldset-neg-spacer {
	MARGIN-TOP: -10px
}
#profile_setting .form-item .description {
	MARGIN-LEFT: 150px
}
#profile_setting .form-item .resizable-textarea {
	CLEAR: both; MARGIN-TOP: 10px
}
#profile_setting .form-item .option {
	CLEAR: left
}
#profile_setting .form-item .form-checkbox {
	MARGIN: 3px
}
#profile_setting .img_assist-button {
	VISIBILITY: hidden; HEIGHT: 0px
}
#profile_setting .birthday_year {
	FLOAT: left; MARGIN-RIGHT: 5px
}
#profile_setting .birthday_month {
	FLOAT: left; MARGIN-RIGHT: 5px
}
#profile_setting .birthday_day {
	CLEAR: right
}
#profile_setting .form-item LABEL {
	MARGIN-TOP: 0px
}
#profile_setting .form-submit {
	CLEAR: left; FLOAT: left
}
#friends {
	MARGIN-TOP: 10px
}
#friends .friend {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; WIDTH: 600px; PADDING-TOP: 5px
}
#friends .icon {
	FLOAT: left; WIDTH: 100px; MARGIN-RIGHT: 10px
}
#friends .name {
	FLOAT: left; WIDTH: 290px; MARGIN-RIGHT: 10px
}
#friends .operations {
	FLOAT: left; WIDTH: 180px
}
#friends .operation {
	MARGIN-BOTTOM: 2px
}
.projectInformationTable TD {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #eee
}
#dashboard {
	MARGIN-TOP: 10px; WIDTH: 820px
}
#dashboard #colleft {
	FLOAT: left; WIDTH: 400px; MARGIN-RIGHT: 20px
}
#dashboard #colright {
	FLOAT: left; WIDTH: 400px
}
#dashboard .section {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px
}
#dashboard .section_header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#dashboard .section_description {
	COLOR: graytext
}
#dashboard .entry {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#dashboard .description {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#community {
	MARGIN-TOP: 10px; WIDTH: 610px
}
#community #colleft {
	FLOAT: left; WIDTH: 400px; MARGIN-RIGHT: 10px
}
#community #colright {
	FLOAT: left; WIDTH: 200px
}
#community #name {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bolder; FONT-SIZE: 200%; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#community .section_header {
	PADDING-RIGHT: 3px; MARGIN-TOP: 10px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#community .section {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#community .infotext {
	FLOAT: left; MARGIN-BOTTOM: 2px; WIDTH: 130px
}
#community .infodata {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 140px; WIDTH: 260px
}
#community .operation {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; WIDTH: 200px
}
#toc {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #eee
}
#toc UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#toc .toclevel-1 {
	MARGIN-LEFT: 0px
}
#toc .toclevel-2 {
	MARGIN-LEFT: 10px
}
#toc .toclevel-3 {
	MARGIN-LEFT: 20px
}
#toc .toclevel-4 {
	MARGIN-LEFT: 30px
}
#toc .toclevel-5 {
	MARGIN-LEFT: 40px
}
TABLE.workitems {
	WIDTH: 100%
}
TABLE.workitems TD {
	FONT-SIZE: 8pt
}
TABLE.workitems TD.workitem-footer {
	FONT-SIZE: 10pt; BORDER-BOTTOM-STYLE: none
}
TABLE.workitems TD.cell1 {
	WIDTH: 20pt
}
TABLE.workitems TD.cell2 {
	WIDTH: 110pt
}
TABLE.workitems TD.cell3 {
	WIDTH: 30pt
}
TABLE.workitems TD.cell3 IMG {
	WIDTH: 18px; HEIGHT: 18px
}
TABLE.workitems TD {
	BORDER-BOTTOM: #ccc 1px dashed
}
#readstatelink {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#tabborder {
	CLEAR: left; HEIGHT: 0px
}
#navigation {
	OVERFLOW: auto; PADDING-TOP: 5px; BACKGROUND-COLOR: #eee; BORDER-BOTTOM-STYLE: none
}
#navigation LI A {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; FLOAT: left; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid; POSITION: static
}
#navigation LI A.high .outer {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: right top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(./active.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
#navigation LI A.active .inner {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: white
}
#navigation LI A.active {
	BORDER-BOTTOM: white 1px solid
}
.workitem_read {
	COLOR: #aaa
}
.workitem_read A {
	COLOR: #69d
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 8px; BORDER-LEFT: #e1e1e1 3px solid; PADDING-TOP: 0px
}
UL.primary LI A.active {
	FONT-WEIGHT: bold
}
.messages {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.3em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.3em; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0.3em; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
.error {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BACKGROUND-COLOR: #fee; BORDER-RIGHT-COLOR: red
}
UL.primary LI A.active:hover {
	
}
#subscriptions .form-checkboxes {
	MARGIN: 0px
}
#subscriptions {
	MARGIN: 10px 0px
}
.teaser-checkbox {
	DISPLAY: none
}
#issue_table .pager {
	CLEAR: both; TEXT-ALIGN: center
}
.pager A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.pager STRONG.pager-current {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
#issue_header {
	MARGIN-TOP: 0.75em
}
#forum .title {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
.title A {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
UL.horizontal_list {
	LIST-STYLE-TYPE: disc
}
UL.horizontal_list LI {
	DISPLAY: inline; MARGIN-RIGHT: 10em
}
#issue-tracker-goto-form {
	DISPLAY: inline
}
#issue-tracker-goto-form DIV {
	DISPLAY: inline
}
