BODY {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
P {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H1 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H2 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H3 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H4 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H5 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H6 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
TD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
TH {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
DD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
DT {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
BODY {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
LI {
	LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-IMAGE: none
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
TH {
	FONT-WEIGHT: bold
}
H2 {
	COLOR: #ff9900
}
H3 {
	COLOR: #ff9900
}
H5 {
	COLOR: #ff9900
}
H1 {
	FONT-SIZE: 16pt
}
H2 {
	FONT-SIZE: 13pt
}
H3 {
	FONT-SIZE: 11pt; FONT-FAMILY: Arial, sans-serif
}
H4 {
	FONT-SIZE: 10pt; MARGIN-BOTTOM: 2px
}
H5 {
	FONT-SIZE: 9pt; MARGIN-BOTTOM: 2px
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 65%; COLOR: #626262
}
DD {
	MARGIN-LEFT: 20px
}
PRE {
	PADDING-RIGHT: 7pt; PADDING-LEFT: 7pt; PADDING-BOTTOM: 7pt; FONT: 9pt "Courier New", Courier, mono; OVERFLOW: auto; PADDING-TOP: 7pt; WHITE-SPACE: pre; BACKGROUND-COLOR: #fbedbb
}
CODE {
	FONT-SIZE: 11pt; COLOR: #990000; FONT-FAMILY: "Courier New", Courier, mono
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
TT.equation {
	FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman', serif; WHITE-SPACE: pre
}
.MenuCat {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: Arial,Verdana; BACKGROUND-COLOR: #333; BORDER-RIGHT-WIDTH: 0px
}
.MenuGroup {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 160px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: #ffcc99; BORDER-RIGHT-WIDTH: 0px
}
.MenuSubCat {
	BORDER-RIGHT: #fb3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fb3 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #fb3 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #fb3 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffcc66
}
.MenuSubCat A {
	COLOR: #000000
}
.MenuSubCat:hover {
	COLOR: #000000; BACKGROUND-COLOR: #ffe0b3
}
.MI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MIS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MIS A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; WIDTH: 155px! important; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffe0b3
}
.MI A:hover {
	BACKGROUND-COLOR: #fffaf2; TEXT-DECORATION: none
}
.userNavText {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana,Sans-Serif; LETTER-SPACING: -1px
}
.userNavText A {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana,Sans-Serif; LETTER-SPACING: -1px
}
.HeaderLogo {
	BACKGROUND-COLOR: #ff9900
}
.HeaderBanner {
	VERTICAL-ALIGN: middle; WIDTH: 100%; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: right
}
.PageBlockHeader {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap
}
.MainBlockHeader {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #cccccc 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #efefef
}
.MainBlockContent {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px; PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid
}
.FeatureBlockHeader {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #ff9900 1px solid; COLOR: #990000; PADDING-TOP: 2px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffe0b3
}
.FeatureBlockHeader A {
	COLOR: #990000
}
.FeatureBlockContent {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff9900 1px; PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #ff9900 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff9900 1px solid; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #fffaf2
}
.ZoneBlockHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-LEFT: 0px; BORDER-BOTTOM: #efefef 5px dotted; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap
}
.ZoneSponsor {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666
}
.ZoneSponsor A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666
}
.ZoneList {
	MARGIN-TOP: 7px
}
.ZoneBlockHeader A {
	COLOR: #000
}
.ZoneBlockContent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; PADDING-TOP: 5px; TEXT-OVERFLOW: ellipsis
}
.BlockExtraText {
	PADDING-LEFT: 20px; FONT-SIZE: 11px; TEXT-TRANSFORM: none
}
.TitleBar {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 135%; COLOR: #ff9900; TEXT-ALIGN: left
}
.JoinHeader {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; PADDING-BOTTOM: 5px; MARGIN: 5pt; BORDER-LEFT: black 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffb443
}
.JoinHeader A {
	COLOR: #990000; HEIGHT: 20px
}
.ShopHeader {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; PADDING-BOTTOM: 5px; MARGIN: 5pt; BORDER-LEFT: black 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #76ab40
}
.ShopHeader A {
	FILTER: Shadow(color=#000000,strength=1,direction=135); COLOR: white; HEIGHT: 20px
}
.MemberNavBar {
	BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #ffcc66
}
.SiteNavBar TD {
	BORDER-RIGHT: #488e00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #488e00 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #488e00 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #488e00 1px solid; POSITION: relative; BACKGROUND-COLOR: #488e00
}
.SiteNavBar A {
	BORDER-RIGHT: #488e00 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #488e00 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #488e00 1px solid; COLOR: white; PADDING-TOP: 1px; BORDER-BOTTOM: #488e00 1px solid; HEIGHT: 16px
}
.SiteNavBar A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: black; PADDING-TOP: 1px; BACKGROUND-COLOR: #c3de6c; TEXT-DECORATION: none
}
TD.SelCat {
	BORDER-LEFT-COLOR: #488e00; BORDER-BOTTOM-COLOR: #488e00; BORDER-TOP-COLOR: #488e00; BACKGROUND-COLOR: #c3de6c; BORDER-RIGHT-COLOR: #488e00
}
TD.SelCat A {
	BORDER-LEFT-COLOR: #c3de6c; BORDER-BOTTOM-COLOR: #c3de6c; COLOR: black; BORDER-TOP-COLOR: #c3de6c; BACKGROUND-COLOR: #c3de6c; BORDER-RIGHT-COLOR: #c3de6c
}
.SearchHeaderBar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #efefef
}
.LHNavBar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 160px; PADDING-TOP: 3px; BACKGROUND-COLOR: #ff9900
}
.ContentPane {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MIN-HEIGHT: 300px; VERTICAL-ALIGN: top; ; WIDTH: expression(document.body.clientWidth < 973? "813" : document.body.clientWidth-160); POSITION: relative; ; HEIGHT: expression(this.height < 300? "300" : "auto")
}
.ArticlePane {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; VERTICAL-ALIGN: top; WIDTH: 100%; POSITION: relative
}
.RHFeatureBar {
	VERTICAL-ALIGN: top; OVERFLOW: hidden; WIDTH: 160px; max-width: 160
}
.ArticleHeader {
	BORDER-BOTTOM: #cccccc 1px solid
}
.ArticleUneditedHeader {
	BORDER-BOTTOM: #cccccc 1px solid
}
.ArticlePurgatoryHeader {
	BORDER-BOTTOM: #cccccc 1px solid
}
.ArticleHeader {
	BACKGROUND-COLOR: #fbedbb
}
.ArticleUneditedHeader {
	BACKGROUND-COLOR: #dce2f5
}
.ArticlePurgatoryHeader {
	BACKGROUND-COLOR: #e2e2e2
}
.precollapse {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fbedbb
}
.formButton {
	FONT-WEIGHT: 700; FONT-SIZE: 90%; BORDER-LEFT-COLOR: #fbedbb; BORDER-BOTTOM-COLOR: #fbedbb; COLOR: white; BORDER-TOP-COLOR: #fbedbb; BACKGROUND-COLOR: #e08900; BORDER-RIGHT-COLOR: #fbedbb
}
.SmallText {
	FONT-SIZE: 8pt
}
.tinyText {
	FONT-SIZE: 7pt
}
CAPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-STYLE: italic
}
.Caption {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-STYLE: italic
}
.Filename {
	FONT-STYLE: italic
}
.Command {
	FONT-WEIGHT: bold
}
.Warning {
	BORDER-RIGHT: red 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: red 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; BORDER-LEFT: red 2px solid; COLOR: red; MARGIN-RIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: red 2px solid
}
.Warning P {
	COLOR: red
}
.Warning DIV {
	COLOR: red
}
.Callout {
	BORDER-RIGHT: black thin solid; PADDING-RIGHT: 5px; BORDER-TOP: black thin solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; BORDER-LEFT: black thin solid; MARGIN-RIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: black thin solid; BACKGROUND-COLOR: #ffffcc
}
.highlight {
	BACKGROUND-COLOR: yellow
}
.emphasis {
	COLOR: red
}
.subdue {
	COLOR: #666
}
.ArticleTable {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
.ArticleTableNoBorder {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
.ArticleTableNoBorder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.ArticleTable TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTableNoBorder TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTable TH {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.ArticleTable THEAD {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fbedbb
}
.ArticleTableNoBorder THEAD {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fbedbb
}
.ArticleTable TFOOT {
	FONT-WEIGHT: bold
}
.ArticleTableNoBorder TFOOT {
	FONT-WEIGHT: bold
}
.ArticleTable TR.ArticleTableRow {
	BACKGROUND-COLOR: #ebf6ff
}
.ArticleTableNoBorder TR.ArticleTableRow {
	BACKGROUND-COLOR: #ebf6ff
}
.ArticleTable TR.ArticleTableAltRow {
	BACKGROUND-COLOR: #ddf0fe
}
.ArticleTableNoBorder TR.ArticleTableAltRow {
	BACKGROUND-COLOR: #ddf0fe
}
.ArticleTable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTableNoBorder TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ArticleTable TD {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
UL.InfoList {
	MARGIN-TOP: 5px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px
}
UL.InfoList LI {
	PADDING-BOTTOM: 5px
}
UL.download {
	MARGIN-LEFT: 1.5em
}
UL.download LI {
	PADDING-LEFT: 0.5em; FONT-SIZE: 9pt; LIST-STYLE-IMAGE: url(/images/download.gif); FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI.download {
	PADDING-LEFT: 0.5em; FONT-SIZE: 9pt; LIST-STYLE-IMAGE: url(/images/download.gif); FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL.delegate LI {
	LIST-STYLE-IMAGE: url(/images/symbols/delegate.gif)
}
LI.delegate {
	LIST-STYLE-IMAGE: url(/images/symbols/delegate.gif)
}
UL.enum LI {
	LIST-STYLE-IMAGE: url(/images/symbols/Enum.GIF)
}
LI.enum {
	LIST-STYLE-IMAGE: url(/images/symbols/Enum.GIF)
}
UL.event LI {
	LIST-STYLE-IMAGE: url(/images/symbols/event.GIF)
}
LI.event {
	LIST-STYLE-IMAGE: url(/images/symbols/event.GIF)
}
UL.interface LI {
	LIST-STYLE-IMAGE: url(/images/symbols/interface.GIF)
}
LI.interface {
	LIST-STYLE-IMAGE: url(/images/symbols/interface.GIF)
}
UL.literal LI {
	LIST-STYLE-IMAGE: url(/images/symbols/literal.GIF)
}
LI.literal {
	LIST-STYLE-IMAGE: url(/images/symbols/literal.GIF)
}
UL.method LI {
	LIST-STYLE-IMAGE: url(/images/symbols/method.GIF)
}
LI.method {
	LIST-STYLE-IMAGE: url(/images/symbols/method.GIF)
}
UL.namespace LI {
	LIST-STYLE-IMAGE: url(/images/symbols/namespace.GIF)
}
LI.namespace {
	LIST-STYLE-IMAGE: url(/images/symbols/namespace.GIF)
}
UL.property LI {
	LIST-STYLE-IMAGE: url(/images/symbols/property.GIF)
}
LI.property {
	LIST-STYLE-IMAGE: url(/images/symbols/property.GIF)
}
UL.struct LI {
	LIST-STYLE-IMAGE: url(/images/symbols/struct.GIF)
}
LI.struct {
	LIST-STYLE-IMAGE: url(/images/symbols/struct.GIF)
}
UL.compactlist LI {
	FONT-SIZE: 8pt; LIST-STYLE-IMAGE: url(/images/smallarrow.gif); MARGIN-BOTTOM: 0pt; MARGIN-LEFT: -1em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI.compactlist {
	FONT-SIZE: 8pt; LIST-STYLE-IMAGE: url(/images/smallarrow.gif); MARGIN-BOTTOM: 0pt; MARGIN-LEFT: -1em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL.compactlist {
	MARGIN-TOP: 5pt; MARGIN-BOTTOM: 5pt
}
.ForumSig {
	BORDER-TOP: #d0e0f0 1px solid; MARGIN-TOP: 0px; PADDING-TOP: 0px
}
TEXTAREA#ContentText {
	BEHAVIOR: url(/styles/lnkutils.htc)
}
.messagecontent {
	FONT: 9.5pt Verdana, "Courier New", Courier, mono
}
.Default {
	FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
.forum_link:link {
	COLOR: #e08900; TEXT-DECORATION: none
}
.forum_link:visited {
	COLOR: #e08900; TEXT-DECORATION: none
}
.forum_link:active {
	COLOR: #e08900; TEXT-DECORATION: none
}
.forum_link:hover {
	COLOR: #e08900; TEXT-DECORATION: underline
}
.forum_hilite {
	BACKGROUND-COLOR: yellow
}
.FQ {
	PADDING-LEFT: 0.6em; MARGIN-BOTTOM: -1em; MARGIN-LEFT: 0.25em; BORDER-LEFT: gray 0.2em solid; COLOR: #556655; MARGIN-RIGHT: 1em
}
.FQA {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-LEFT: -0.25em
}
.cpp-comment {
	COLOR: green; FONT-STYLE: italic
}
.cs-comment {
	COLOR: green; FONT-STYLE: italic
}
.vb-comment {
	COLOR: green; FONT-STYLE: italic
}
.cpp-keyword {
	COLOR: blue
}
.cs-keyword {
	COLOR: blue
}
.vb-function {
	COLOR: blue
}
.cpp-preprocessor {
	COLOR: navy
}
.cs-preprocessor {
	COLOR: navy
}
.cpp-string {
	COLOR: purple
}
.cs-string {
	COLOR: purple
}
.vb-string {
	COLOR: purple
}
.cpp-literal {
	COLOR: midnightblue
}
.cs-literal {
	COLOR: midnightblue
}
.vb-literal {
	COLOR: midnightblue
}
.cs-clrtype {
	COLOR: #339999
}
.vb-keyword {
	FONT-WEIGHT: normal; COLOR: blue
}
.vb-statement {
	FONT-WEIGHT: normal; COLOR: blue
}
TABLE#tblButtonBar {
	MARGIN-TOP: 1px
}
.clsButton {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #ff9900 1px solid; COLOR: #333300; BORDER-BOTTOM: #ff9900 1px solid; BACKGROUND-COLOR: #ff9900; TEXT-DECORATION: none
}
TD.clsButtonBar TABLE.clsButton TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.clsButtonLnk {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #333300; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.clsButtonLnk:hover {
	COLOR: blue
}
.Headline {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 5px! important; COLOR: black
}
.sidebar {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.navbar {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; TEXT-DECORATION: none
}
BUTTON.toolbar {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Verdana, Arial, Tahoma, "MS Sans Serif", sans-serif; BACKGROUND-COLOR: white
}
DIV.toolbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-COLOR: #ff9900; BORDER-BOTTOM-COLOR: #ff9900; PADDING-BOTTOM: 2px; BORDER-TOP-COLOR: #ff9900; PADDING-TOP: 1px; BACKGROUND-COLOR: white; BORDER-RIGHT-COLOR: #ff9900
}
.navbar:hover {
	COLOR: blue
}
.navbar:active {
	COLOR: red
}
.NavMenuItem:hover {
	COLOR: blue
}
.NavMenuItem:active {
	COLOR: red
}
.AdLink {
	FONT-SIZE: 8pt; COLOR: black
}
A .AdLink {
	FONT-SIZE: 8pt; COLOR: black
}
.infobar {
	FONT-SIZE: 8pt; MARGIN-LEFT: 0pt; TEXT-INDENT: 0pt
}
.infobarList {
	FONT-SIZE: 8pt; MARGIN-LEFT: 1.5em; TEXT-INDENT: -1.5em
}
.InfobarHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: -10px; COLOR: #ab2600
}
.HoverLink {
	BORDER-RIGHT: #fbedbb 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fbedbb 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #fbedbb 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #fbedbb 1px solid; BACKGROUND-COLOR: #fbedbb; TEXT-DECORATION: none
}
A.HoverLink {
	COLOR: blue; TEXT-DECORATION: none
}
A.HoverLink:hover {
	BORDER-LEFT-COLOR: #ff9900; BORDER-BOTTOM-COLOR: #ff9900; BORDER-TOP-COLOR: #ff9900; BACKGROUND-COLOR: #ffcc99; BORDER-RIGHT-COLOR: #ff9900
}
A.HoverLink:active {
	BORDER-LEFT-COLOR: #ff9900; BORDER-BOTTOM-COLOR: #ff9900; BORDER-TOP-COLOR: #ff9900; BACKGROUND-COLOR: #ffc082; BORDER-RIGHT-COLOR: #ff9900
}
.links {
	FONT-SIZE: 8pt
}
.messagetitle {
	FONT-SIZE: 8pt
}
.SiteNewsHeading {
	FONT-SIZE: 8pt
}
.FeatureBox {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #6699cc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: #a5c9ef
}
.FeatureBoxHeader {
	PADDING-LEFT: 2pt; FONT-WEIGHT: bold; FONT-SIZE: 13pt; PADDING-BOTTOM: 2pt; COLOR: #993300; FONT-FAMILY: Verdana
}
.FeatureBoxHeader A {
	PADDING-LEFT: 2pt; FONT-WEIGHT: bold; FONT-SIZE: 13pt; PADDING-BOTTOM: 2pt; COLOR: #993300; FONT-FAMILY: Verdana
}
.FeatureBoxHeaderArrow {
	BACKGROUND-COLOR: #6699cc
}
